header {
    height: 30vh;
    width: 100%;
    background: linear-gradient(rgb(0, 39, 138), black);
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 40px;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}