header {
    height: 30vh;
    width: 100%;
    background: linear-gradient(rgb(0, 70, 246), rgb(6, 255, 81));
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 40px;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.header-right h5 {
    text-align: right;
    font-weight: normal;
    margin-bottom: 5px;
    color: rgb(217, 255, 229);
}